.login-top
  = image_tag 'login.png',class: "login-image"
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'label'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :password, class: 'label'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text'
    .actions
      = f.submit "Log in", class: "form-btn"
  .login-container
    = render "devise/shared/links"
